@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-ambient-bg font-body text-[18px] text-gray-200 antialiased max-phone:text-[16px];

    --hyperlink-text--ground: white;
    --hyperlink-text--excited: theme("colors.gray.400");
    --hyperlink-bg--ground: transparent;
    --hyperlink-bg--excited: transparent;
  }

  body {
    @apply flex min-h-svh flex-col items-stretch;
  }

  hr {
    @apply w-full border-[0.5px] border-solid border-white/10;
  }
}

@layer components {
  .formatted-content {
    p + p {
      @apply mt-4;
    }
  }
}

@layer utilities {
  .hyperlink {
    @apply bg-[var(--hyperlink-bg)] text-[var(--hyperlink-text)] motion-safe:transition-colors;
    --hyperlink-text: var(--hyperlink-text--ground);
    --hyperlink-bg: var(--hyperlink-bg--ground);

    &:hover,
    &:focus {
      --hyperlink-text: var(--hyperlink-text--excited);
      --hyperlink-bg: var(--hyperlink-bg--excited);
    }

    --hyperlink-text--ground: theme("colors.orange.300");
    --hyperlink-text--excited: theme("colors.lemon.100");
  }

  .hyperlink--underline {
    @apply underline decoration-[var(--hyperlink-decoration)] decoration-2 underline-offset-2;
    --hyperlink-decoration: color-mix(
      in oklch,
      transparent,
      var(--hyperlink-text--ground) 25%
    );
  }
}
