@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-[var(--ambient-bg)] font-body text-[20px] text-white antialiased sm:text-[24px] xl:text-[28px];

    --ambient-bg: oklch(15% 0.02 313);
    --hyperlink-text--ground: white;
    --hyperlink-text--excited: theme("colors.gray.400");
    --hyperlink-bg--ground: transparent;
    --hyperlink-bg--excited: transparent;
  }
}

@layer utilities {
  .hyperlink {
    @apply bg-[var(--hyperlink-bg)] text-[var(--hyperlink-text)] motion-safe:transition-colors;
    --hyperlink-text: var(--hyperlink-text--ground);
    --hyperlink-bg: var(--hyperlink-bg--ground);

    &:hover,
    &:focus {
      --hyperlink-text: var(--hyperlink-text--excited);
      --hyperlink-bg: var(--hyperlink-bg--excited);
    }
  }

  .hyperlink--underline {
    @apply underline decoration-[var(--hyperlink-decoration)] decoration-2 underline-offset-2;
    --hyperlink-decoration: color-mix(
      in oklch,
      transparent,
      var(--hyperlink-text--ground) 25%
    );
  }

  .hyperlink--basic {
    --hyperlink-text--ground: oklch(70% 0.1914 31);
    --hyperlink-text--excited: oklch(90% 0.0891 78);
  }
}
