/*
 ___                     _          __        __   _
|_ _|___  ___  _____   _| | ____ _  \ \      / /__| |__
 | |/ _ \/ __|/ _ \ \ / / |/ / _` |  \ \ /\ / / _ \ '_ \
 | | (_) \__ \  __/\ V /|   < (_| |   \ V  V /  __/ |_) |
|___\___/|___/\___| \_/ |_|\_\__,_|    \_/\_/ \___|_.__/

 */

@font-face {
  /* Fallback font for Iosevka Web */
  font-family: "Iosevka Web override";
  src: local("Arial"), local("Roboto");
  ascent-override: 96.5%;
  descent-override: 28.5%;
  line-gap-override: 0%;
}

@font-face {
  font-family: "Iosevka Web";
  font-display: swap;
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
  src: url("/fonts/IosevkaWeb-29.2.1-0/IosevkaWeb-Thin.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Web";
  font-display: swap;
  font-weight: 100;
  font-stretch: normal;
  font-style: oblique;
  src: url("/fonts/IosevkaWeb-29.2.1-0/IosevkaWeb-ThinOblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka Web";
  font-display: swap;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  src: url("/fonts/IosevkaWeb-29.2.1-0/IosevkaWeb-ExtraLight.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka Web";
  font-display: swap;
  font-weight: 200;
  font-stretch: normal;
  font-style: oblique;
  src: url("/fonts/IosevkaWeb-29.2.1-0/IosevkaWeb-ExtraLightOblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka Web";
  font-display: swap;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  src: url("/fonts/IosevkaWeb-29.2.1-0/IosevkaWeb-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Web";
  font-display: swap;
  font-weight: 300;
  font-stretch: normal;
  font-style: oblique;
  src: url("/fonts/IosevkaWeb-29.2.1-0/IosevkaWeb-LightOblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka Web";
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  src: url("/fonts/IosevkaWeb-29.2.1-0/IosevkaWeb-Regular.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka Web";
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: oblique;
  src: url("/fonts/IosevkaWeb-29.2.1-0/IosevkaWeb-Oblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka Web";
  font-display: swap;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  src: url("/fonts/IosevkaWeb-29.2.1-0/IosevkaWeb-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Web";
  font-display: swap;
  font-weight: 500;
  font-stretch: normal;
  font-style: oblique;
  src: url("/fonts/IosevkaWeb-29.2.1-0/IosevkaWeb-MediumOblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka Web";
  font-display: swap;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  src: url("/fonts/IosevkaWeb-29.2.1-0/IosevkaWeb-SemiBold.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka Web";
  font-display: swap;
  font-weight: 600;
  font-stretch: normal;
  font-style: oblique;
  src: url("/fonts/IosevkaWeb-29.2.1-0/IosevkaWeb-SemiBoldOblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka Web";
  font-display: swap;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  src: url("/fonts/IosevkaWeb-29.2.1-0/IosevkaWeb-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Web";
  font-display: swap;
  font-weight: 700;
  font-stretch: normal;
  font-style: oblique;
  src: url("/fonts/IosevkaWeb-29.2.1-0/IosevkaWeb-BoldOblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka Web";
  font-display: swap;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  src: url("/fonts/IosevkaWeb-29.2.1-0/IosevkaWeb-ExtraBold.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka Web";
  font-display: swap;
  font-weight: 800;
  font-stretch: normal;
  font-style: oblique;
  src: url("/fonts/IosevkaWeb-29.2.1-0/IosevkaWeb-ExtraBoldOblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka Web";
  font-display: swap;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  src: url("/fonts/IosevkaWeb-29.2.1-0/IosevkaWeb-Heavy.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Web";
  font-display: swap;
  font-weight: 900;
  font-stretch: normal;
  font-style: oblique;
  src: url("/fonts/IosevkaWeb-29.2.1-0/IosevkaWeb-HeavyOblique.woff2")
    format("woff2");
}

/*
 ____             _
| __ )  __ _ _ __| | _____      __
|  _ \ / _` | '__| |/ _ \ \ /\ / /
| |_) | (_| | |  | | (_) \ V  V /
|____/ \__,_|_|  |_|\___/ \_/\_/

*/

@font-face {
  /* Fallback font for Barlow normal width */
  font-family: "Barlow override";
  src: local("Arial"), local("Roboto");
  ascent-override: 100%;
  descent-override: 20%;
  line-gap-override: 0%;
}

@font-face {
  font-family: "Barlow";
  font-display: swap;
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
  src: url("/fonts/Barlow-1.422/Barlow-Thin.woff2") format("woff2");
}

@font-face {
  font-family: "Barlow";
  font-display: swap;
  font-weight: 100;
  font-stretch: normal;
  font-style: italic;
  src: url("/fonts/Barlow-1.422/Barlow-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "Barlow";
  font-display: swap;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  src: url("/fonts/Barlow-1.422/Barlow-ExtraLight.woff2") format("woff2");
}

@font-face {
  font-family: "Barlow";
  font-display: swap;
  font-weight: 200;
  font-stretch: normal;
  font-style: italic;
  src: url("/fonts/Barlow-1.422/Barlow-ExtraLightItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Barlow";
  font-display: swap;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  src: url("/fonts/Barlow-1.422/Barlow-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Barlow";
  font-display: swap;
  font-weight: 300;
  font-stretch: normal;
  font-style: italic;
  src: url("/fonts/Barlow-1.422/Barlow-LightItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Barlow";
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  src: url("/fonts/Barlow-1.422/Barlow-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Barlow";
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: italic;
  src: url("/fonts/Barlow-1.422/Barlow-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "Barlow";
  font-display: swap;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  src: url("/fonts/Barlow-1.422/Barlow-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Barlow";
  font-display: swap;
  font-weight: 500;
  font-stretch: normal;
  font-style: italic;
  src: url("/fonts/Barlow-1.422/Barlow-MediumItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Barlow";
  font-display: swap;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  src: url("/fonts/Barlow-1.422/Barlow-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Barlow";
  font-display: swap;
  font-weight: 600;
  font-stretch: normal;
  font-style: italic;
  src: url("/fonts/Barlow-1.422/Barlow-SemiBoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Barlow";
  font-display: swap;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  src: url("/fonts/Barlow-1.422/Barlow-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Barlow";
  font-display: swap;
  font-weight: 700;
  font-stretch: normal;
  font-style: italic;
  src: url("/fonts/Barlow-1.422/Barlow-BoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Barlow";
  font-display: swap;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  src: url("/fonts/Barlow-1.422/Barlow-ExtraBold.woff2") format("woff2");
}

@font-face {
  font-family: "Barlow";
  font-display: swap;
  font-weight: 800;
  font-stretch: normal;
  font-style: italic;
  src: url("/fonts/Barlow-1.422/Barlow-ExtraBoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Barlow";
  font-display: swap;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  src: url("/fonts/Barlow-1.422/Barlow-Black.woff2") format("woff2");
}

@font-face {
  font-family: "Barlow";
  font-display: swap;
  font-weight: 900;
  font-stretch: normal;
  font-style: italic;
  src: url("/fonts/Barlow-1.422/Barlow-BlackItalic.woff2") format("woff2");
}
