@font-face {
  /* Fallback font for Iosevka Web */
  font-family: "Iosevka Web override";
  src: local("Arial"), local("Roboto");
  ascent-override: 96.5%;
  descent-override: 21.5%;
  line-gap-override: 7%;
}

@font-face {
  /* Fallback font for Barlow normal width */
  font-family: "Barlow override";
  src: local("Arial"), local("Roboto");
  ascent-override: 100%;
  descent-override: 20%;
  line-gap-override: 0%;
}

@font-face {
  font-family: "Iosevka Web";
  font-display: swap;
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
  src: url("/fonts/IosevkaWeb/IosevkaWeb-Thin.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Web";
  font-display: swap;
  font-weight: 100;
  font-stretch: normal;
  font-style: oblique;
  src: url("/fonts/IosevkaWeb/IosevkaWeb-ThinOblique.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Web";
  font-display: swap;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  src: url("/fonts/IosevkaWeb/IosevkaWeb-ExtraLight.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Web";
  font-display: swap;
  font-weight: 200;
  font-stretch: normal;
  font-style: oblique;
  src: url("/fonts/IosevkaWeb/IosevkaWeb-ExtraLightOblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka Web";
  font-display: swap;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  src: url("/fonts/IosevkaWeb/IosevkaWeb-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Web";
  font-display: swap;
  font-weight: 300;
  font-stretch: normal;
  font-style: oblique;
  src: url("/fonts/IosevkaWeb/IosevkaWeb-LightOblique.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Web";
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  src: url("/fonts/IosevkaWeb/IosevkaWeb-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Web";
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: oblique;
  src: url("/fonts/IosevkaWeb/IosevkaWeb-Oblique.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Web";
  font-display: swap;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  src: url("/fonts/IosevkaWeb/IosevkaWeb-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Web";
  font-display: swap;
  font-weight: 500;
  font-stretch: normal;
  font-style: oblique;
  src: url("/fonts/IosevkaWeb/IosevkaWeb-MediumOblique.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Web";
  font-display: swap;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  src: url("/fonts/IosevkaWeb/IosevkaWeb-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Web";
  font-display: swap;
  font-weight: 600;
  font-stretch: normal;
  font-style: oblique;
  src: url("/fonts/IosevkaWeb/IosevkaWeb-SemiBoldOblique.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Web";
  font-display: swap;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  src: url("/fonts/IosevkaWeb/IosevkaWeb-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Web";
  font-display: swap;
  font-weight: 700;
  font-stretch: normal;
  font-style: oblique;
  src: url("/fonts/IosevkaWeb/IosevkaWeb-BoldOblique.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Web";
  font-display: swap;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  src: url("/fonts/IosevkaWeb/IosevkaWeb-ExtraBold.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Web";
  font-display: swap;
  font-weight: 800;
  font-stretch: normal;
  font-style: oblique;
  src: url("/fonts/IosevkaWeb/IosevkaWeb-ExtraBoldOblique.woff2")
    format("woff2");
}

@font-face {
  font-family: "Iosevka Web";
  font-display: swap;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  src: url("/fonts/IosevkaWeb/IosevkaWeb-Heavy.woff2") format("woff2");
}

@font-face {
  font-family: "Iosevka Web";
  font-display: swap;
  font-weight: 900;
  font-stretch: normal;
  font-style: oblique;
  src: url("/fonts/IosevkaWeb/IosevkaWeb-HeavyOblique.woff2") format("woff2");
}
