---
import BaseLayout from "#layouts/Layout.astro";

// TODO: come back to visit this page at some point
---

<BaseLayout>
  <h1
    class="text-layout-title font-display text-fadecream-300 mt-4 text-center text-2xl leading-1 font-extrabold tracking-wide"
  >
    404 Not Found
  </h1>
  {/* TODO: Add the confusingly mind-breaking sketch of my OC, drawn by bf */}
  <a
    class="hyperlink hyperlink--underline mt-2 text-center leading-tight font-normal text-pretty"
    href="/"
  >
    Back to main page
  </a>
</BaseLayout>
