---
import BaseLayout from "../layouts/BaseLayout.astro";
import Body from "../layouts/Body.astro";

// TODO: come back to visit this page at some point
---

<BaseLayout>
  <Body>
    <h1
      class="text-layout-title leading-1 mt-4 font-display text-2xl font-extrabold tracking-wide text-fadecream-300"
    >
      404 Not Found
    </h1>
    <a
      class="hyperlink hyperlink--underline mt-2 text-pretty text-center font-normal leading-tight"
      href="/"
    >
      Back to main page
    </a>
  </Body>
</BaseLayout>
