---
import BackToHome from "#layouts/BackToHome.astro";
import Footer from "#layouts/Footer.astro";
import Layout from "#layouts/Layout.astro";
import WrappedBody from "#layouts/WrappedBody.astro";

import BoleCharacterSheetWriteup from "#writeups/bole-character-sheet.mdx";
---

<Layout>
  <WrappedBody>
    <BackToHome />
    <main class="markdown custom-container-width mb-16">
      <BoleCharacterSheetWriteup />
    </main>
    <Footer />
  </WrappedBody>
</Layout>
