---
import MarkdownPage from "~layouts/MarkdownPage.astro";
---

<MarkdownPage title="Example" description="Example">
  <p class="font-mono font-thin">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut iaculis orci et
    tortor maximus, sit amet congue ligula porta. Donec suscipit nisi eros.
    Curabitur eleifend rhoncus elit, sed blandit turpis porttitor vel. Aenean
    rhoncus imperdiet scelerisque. Morbi volutpat, ex id sagittis condimentum,
    nulla nunc luctus velit, in dictum odio justo a lectus. Proin eu odio urna.
    <em
      >Aenean sed massa tempus, ornare nunc in, porta lectus. Quisque quis quam
      purus. Sed id velit a neque fermentum tincidunt at in mi. Maecenas vel
      dictum metus. Nullam blandit at nibh at egestas. Nunc pretium sapien in
      enim luctus consequat. Vivamus erat velit, cursus eu hendrerit congue,
      lobortis vel metus. Sed finibus arcu eget felis suscipit pharetra. Fusce
      massa nibh, ultrices in finibus quis, cursus eget leo.</em
    >
  </p>
  <p class="font-mono font-extralight">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut iaculis orci et
    tortor maximus, sit amet congue ligula porta. Donec suscipit nisi eros.
    Curabitur eleifend rhoncus elit, sed blandit turpis porttitor vel. Aenean
    rhoncus imperdiet scelerisque. Morbi volutpat, ex id sagittis condimentum,
    nulla nunc luctus velit, in dictum odio justo a lectus. Proin eu odio urna.
    <em
      >Aenean sed massa tempus, ornare nunc in, porta lectus. Quisque quis quam
      purus. Sed id velit a neque fermentum tincidunt at in mi. Maecenas vel
      dictum metus. Nullam blandit at nibh at egestas. Nunc pretium sapien in
      enim luctus consequat. Vivamus erat velit, cursus eu hendrerit congue,
      lobortis vel metus. Sed finibus arcu eget felis suscipit pharetra. Fusce
      massa nibh, ultrices in finibus quis, cursus eget leo.</em
    >
  </p>
  <p class="font-mono font-light">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut iaculis orci et
    tortor maximus, sit amet congue ligula porta. Donec suscipit nisi eros.
    Curabitur eleifend rhoncus elit, sed blandit turpis porttitor vel. Aenean
    rhoncus imperdiet scelerisque. Morbi volutpat, ex id sagittis condimentum,
    nulla nunc luctus velit, in dictum odio justo a lectus. Proin eu odio urna.
    <em
      >Aenean sed massa tempus, ornare nunc in, porta lectus. Quisque quis quam
      purus. Sed id velit a neque fermentum tincidunt at in mi. Maecenas vel
      dictum metus. Nullam blandit at nibh at egestas. Nunc pretium sapien in
      enim luctus consequat. Vivamus erat velit, cursus eu hendrerit congue,
      lobortis vel metus. Sed finibus arcu eget felis suscipit pharetra. Fusce
      massa nibh, ultrices in finibus quis, cursus eget leo.</em
    >
  </p>
  <p class="font-mono font-normal">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut iaculis orci et
    tortor maximus, sit amet congue ligula porta. Donec suscipit nisi eros.
    Curabitur eleifend rhoncus elit, sed blandit turpis porttitor vel. Aenean
    rhoncus imperdiet scelerisque. Morbi volutpat, ex id sagittis condimentum,
    nulla nunc luctus velit, in dictum odio justo a lectus. Proin eu odio urna.
    <em
      >Aenean sed massa tempus, ornare nunc in, porta lectus. Quisque quis quam
      purus. Sed id velit a neque fermentum tincidunt at in mi. Maecenas vel
      dictum metus. Nullam blandit at nibh at egestas. Nunc pretium sapien in
      enim luctus consequat. Vivamus erat velit, cursus eu hendrerit congue,
      lobortis vel metus. Sed finibus arcu eget felis suscipit pharetra. Fusce
      massa nibh, ultrices in finibus quis, cursus eget leo.</em
    >
  </p>
  <p class="font-mono font-medium">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut iaculis orci et
    tortor maximus, sit amet congue ligula porta. Donec suscipit nisi eros.
    Curabitur eleifend rhoncus elit, sed blandit turpis porttitor vel. Aenean
    rhoncus imperdiet scelerisque. Morbi volutpat, ex id sagittis condimentum,
    nulla nunc luctus velit, in dictum odio justo a lectus. Proin eu odio urna.
    <em
      >Aenean sed massa tempus, ornare nunc in, porta lectus. Quisque quis quam
      purus. Sed id velit a neque fermentum tincidunt at in mi. Maecenas vel
      dictum metus. Nullam blandit at nibh at egestas. Nunc pretium sapien in
      enim luctus consequat. Vivamus erat velit, cursus eu hendrerit congue,
      lobortis vel metus. Sed finibus arcu eget felis suscipit pharetra. Fusce
      massa nibh, ultrices in finibus quis, cursus eget leo.</em
    >
  </p>
  <p class="font-mono font-semibold">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut iaculis orci et
    tortor maximus, sit amet congue ligula porta. Donec suscipit nisi eros.
    Curabitur eleifend rhoncus elit, sed blandit turpis porttitor vel. Aenean
    rhoncus imperdiet scelerisque. Morbi volutpat, ex id sagittis condimentum,
    nulla nunc luctus velit, in dictum odio justo a lectus. Proin eu odio urna.
    <em
      >Aenean sed massa tempus, ornare nunc in, porta lectus. Quisque quis quam
      purus. Sed id velit a neque fermentum tincidunt at in mi. Maecenas vel
      dictum metus. Nullam blandit at nibh at egestas. Nunc pretium sapien in
      enim luctus consequat. Vivamus erat velit, cursus eu hendrerit congue,
      lobortis vel metus. Sed finibus arcu eget felis suscipit pharetra. Fusce
      massa nibh, ultrices in finibus quis, cursus eget leo.</em
    >
  </p>
  <p class="font-mono font-bold">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut iaculis orci et
    tortor maximus, sit amet congue ligula porta. Donec suscipit nisi eros.
    Curabitur eleifend rhoncus elit, sed blandit turpis porttitor vel. Aenean
    rhoncus imperdiet scelerisque. Morbi volutpat, ex id sagittis condimentum,
    nulla nunc luctus velit, in dictum odio justo a lectus. Proin eu odio urna.
    <em
      >Aenean sed massa tempus, ornare nunc in, porta lectus. Quisque quis quam
      purus. Sed id velit a neque fermentum tincidunt at in mi. Maecenas vel
      dictum metus. Nullam blandit at nibh at egestas. Nunc pretium sapien in
      enim luctus consequat. Vivamus erat velit, cursus eu hendrerit congue,
      lobortis vel metus. Sed finibus arcu eget felis suscipit pharetra. Fusce
      massa nibh, ultrices in finibus quis, cursus eget leo.</em
    >
  </p>
  <p class="font-mono font-extrabold">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut iaculis orci et
    tortor maximus, sit amet congue ligula porta. Donec suscipit nisi eros.
    Curabitur eleifend rhoncus elit, sed blandit turpis porttitor vel. Aenean
    rhoncus imperdiet scelerisque. Morbi volutpat, ex id sagittis condimentum,
    nulla nunc luctus velit, in dictum odio justo a lectus. Proin eu odio urna.
    <em
      >Aenean sed massa tempus, ornare nunc in, porta lectus. Quisque quis quam
      purus. Sed id velit a neque fermentum tincidunt at in mi. Maecenas vel
      dictum metus. Nullam blandit at nibh at egestas. Nunc pretium sapien in
      enim luctus consequat. Vivamus erat velit, cursus eu hendrerit congue,
      lobortis vel metus. Sed finibus arcu eget felis suscipit pharetra. Fusce
      massa nibh, ultrices in finibus quis, cursus eget leo.</em
    >
  </p>
  <p class="font-mono font-black">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut iaculis orci et
    tortor maximus, sit amet congue ligula porta. Donec suscipit nisi eros.
    Curabitur eleifend rhoncus elit, sed blandit turpis porttitor vel. Aenean
    rhoncus imperdiet scelerisque. Morbi volutpat, ex id sagittis condimentum,
    nulla nunc luctus velit, in dictum odio justo a lectus. Proin eu odio urna.
    <em
      >Aenean sed massa tempus, ornare nunc in, porta lectus. Quisque quis quam
      purus. Sed id velit a neque fermentum tincidunt at in mi. Maecenas vel
      dictum metus. Nullam blandit at nibh at egestas. Nunc pretium sapien in
      enim luctus consequat. Vivamus erat velit, cursus eu hendrerit congue,
      lobortis vel metus. Sed finibus arcu eget felis suscipit pharetra. Fusce
      massa nibh, ultrices in finibus quis, cursus eget leo.</em
    >
  </p>
  <p>
    <span class="font-mono font-light">
      Lorem ipsum dolor justo a lectus. Proin eu odio urna.
      <em
        >Aenean sed massa tempus, t velit, cursus eu hendrerit congue, lobortis
        vel metus. Sed finibus arcu eget felis suscipit pharetra. Fusce massa
        nibh, ultrices in finibus quis, cursus eget leo.</em
      >
    </span>
    <span class="font-mono font-extrabold">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut iaculis orci
      et tortor maximus, sit amet condio justo a lectus. Proin eu odio urna.
      <em
        >Aenean sed massa tempuscu eget felis suscipit pharetra. Fusce massa
        nibh, ultrices in finibus quis, cursus eget leo.</em
      >
    </span>
  </p>
</MarkdownPage>
