---
import Footer from "#layouts/Footer.astro";
import Header from "#layouts/Header.astro";
import Layout from "#layouts/Layout.astro";

import IntroContent from "#writeups/01_intro.mdx";
import HobbiesContent from "#writeups/02_hobbies.mdx";
import FursonaContent from "#writeups/03_fursona.mdx";
---

<Layout>
  <Header />
  <main>
    <section class="prose-auto">
      <IntroContent />
      <HobbiesContent />
      <FursonaContent />
      {/* TODO TOPIC: my participation */}
      {/* TODO TOPIC: my character reference */}
    </section>
  </main>
  <Footer />
</Layout>
