---
import Footer from "#layouts/Footer.astro";
import Header from "#layouts/Header.astro";
import Layout from "#layouts/Layout.astro";

import IntroContent from "#writeups/00_intro.mdx";
import HobbiesContent from "#writeups/01_hobbies.mdx";
import FursonaContent from "#writeups/02_fursona.mdx";
import EventsContent from "#writeups/03_events.mdx";
---

<Layout>
  <!--<div-->
  <!--  class="mb-12 mt-[4rem] gap-6 max-laptop:mt-[calc(max(50svh-15rem,4rem))] laptop:mx-auto laptop:flex laptop:items-start laptop:gap-12"-->
  <!--&gt;-->
  <!--<div id="content" class="mx-auto max-w-[32.5rem]">-->
  <Header />
  <main class="prose-auto tablet:mx-auto max-w-(--breakpoint-tablet)">
    <IntroContent />
    <HobbiesContent />
    <FursonaContent />
    <EventsContent />
    {/* TODO TOPIC: my character reference */}
  </main>
  <Footer />
  <!--</div>-->
  <!--</div>-->
</Layout>
