---
import BaseLayout from "#layouts/base/Layout.astro";
import Body from "#layouts/base/Body.astro";
import Footnote from "#layouts/base/Footer.astro";
import Banner from "#layouts/main/Banner.astro";
import ShortBio from "#layouts/main/ShortBio.astro";
import Writeup from "#layouts/main/Writeup.astro";
---

<BaseLayout>
  <Body>
    <div
      class="mx-auto mt-16 flex items-start justify-center px-8 max-laptop:flex-col max-laptop:items-center max-phone:px-4 laptop:gap-12"
    >
      <Banner />
      <div
        class="flex max-w-[35rem] flex-col items-start justify-center max-laptop:items-center"
      >
        <ShortBio />
        <Writeup />
      </div>
    </div>
  </Body>
  <Footnote />
</BaseLayout>
