---
import { SITE } from "../config.ts";
import BaseLayout from "../layouts/BaseLayout.astro";
import Body from "../layouts/Body.astro";
import Footnote from "../layouts/Footer.astro";

import Banner from "../layouts/Banner.astro";
import ShortBio from "../layouts/ShortBio.astro";
import Writeup from "../layouts/Writeup.astro";
---

<BaseLayout title={`${SITE.title} – ${SITE.description}`}>
  <Body>
    <div
      class="mx-auto mt-16 flex items-start justify-center px-8
      max-laptop:flex-col max-laptop:items-center max-phone:px-4 laptop:gap-12"
    >
      <Banner />
      <div
        class="flex max-w-[70ch] flex-col items-start justify-center
        max-laptop:items-center"
      >
        <ShortBio />
        <Writeup />
      </div>
    </div>
  </Body>
  <Footnote />
</BaseLayout>
