---
import Footer from "#layouts/Footer.astro";
import Header from "#layouts/Header.astro";
import Layout from "#layouts/Layout.astro";

import IntroContent from "#writeups/00_intro.mdx";
import HobbiesContent from "#writeups/01_hobbies.mdx";
import FursonaContent from "#writeups/02_fursona.mdx";
import EventsContent from "#writeups/03_events.mdx";
---

<Layout>
  <Header />
  <main class="markdown max-w-(--breakpoint-tablet) tablet:mx-auto">
    <IntroContent />
    <HobbiesContent />
    <FursonaContent />
    <EventsContent />
    {/* TODO TOPIC: my character reference */}
  </main>
  <Footer />
</Layout>
