---
import BaseLayout from "../layouts/base/layout.astro";

// TODO: add missing social icons
// TODO: put up all social links
---

<BaseLayout>
  <div class="flex min-h-svh flex-col place-content-center items-center p-12">
    <h1
      class="text-layout-title leading-1 mb-1 text-center text-2xl font-bold leading-tight"
    >
      That Charming BOLE
    </h1>
    <p class="text-pretty text-center font-mono leading-tight">
      For now, please
      <a class="hyperlink" href="https://linktr.ee/YtCharmyngeBole">
        visit my linktree</a
      >.
    </p>
  </div>
</BaseLayout>
