---
import Avatar from "#layouts/Avatar.astro";
import Footer from "#layouts/Footer.astro";
import Header from "#layouts/Header.astro";
import Layout from "#layouts/Layout.astro";

import IntroContent from "#writeups/01_intro.mdx";
import HobbiesContent from "#writeups/02_hobbies.mdx";
import FursonaContent from "#writeups/03_fursona.mdx";
---

<Layout>
  <div
    class="mb-12 mt-[4rem] flex items-center gap-6 max-laptop:mt-[calc(max(50svh-15rem,4rem))] max-laptop:flex-col laptop:items-start laptop:gap-12"
  >
    <Avatar />
    <div id="content">
      <Header />
      <main>
        <section class="prose-auto">
          <IntroContent />
          <HobbiesContent />
          <FursonaContent />
          {/* TODO TOPIC: my participation */}
          {/* TODO TOPIC: my character reference */}
        </section>
      </main>
      <Footer />
    </div>
  </div>
</Layout>
