---
import { SITE } from "../config.ts";
import BaseLayout from "../layouts/BaseLayout.astro";
import Footnote from "../layouts/Footnote.astro";
import ProfilePic from "../layouts/ProfilePic.astro";
import ShortBio from "../layouts/ShortBio.astro";
import SocialLinks from "../layouts/SocialLinks.astro";

// NOTE: Decided not to refactor usages of twemoji icons into new component
//       (need emoji unicode database & twemoji database updated regularly)
---

<BaseLayout title={`${SITE.title} – ${SITE.description}`}>
  <div class="flex min-h-svh flex-col">
    <div
      class="flex grow items-center justify-center gap-8 max-laptop:flex-col max-laptop:gap-4 max-tablet:py-4 laptop:mt-8"
    >
      <div class="max-laptop:px-8">
        <ProfilePic />
      </div>
      <div
        class="flex flex-col items-start justify-center max-laptop:items-center"
      >
        <h1
          class="text-layout-title leading-1 font-display text-2xl font-bold leading-tight text-fadecream-100 max-laptop:text-center"
        >
          That Charming BOLE
        </h1>
        <ShortBio />
        <SocialLinks />
      </div>
    </div>
    <Footnote />
  </div>
</BaseLayout>
