---
import Footer from "#layouts/Footer.astro";
import Header from "#layouts/Header.astro";
import Layout from "#layouts/Layout.astro";
import WrappedBody from "#layouts/WrappedBody.astro";

import { Content } from "#writeups/home.mdx";
---

<Layout>
  <WrappedBody>
    <Header />
    <main class="markdown custom-container-width mb-16">
      <Content />
    </main>
    <Footer />
  </WrappedBody>
</Layout>
