---
import "../styles/base.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>That Charming BOLE</title>
  </head>
  <body>
    <div
      class="flex min-h-svh flex-col place-content-center items-center bg-[#111]"
    >
      <h1 class="text-4xl font-bold leading-normal text-[#eee]">
        That Charming BOLE
      </h1>
      <p class="text-lg leading-tight text-[#ccc]">
        For now, please
        <a
          class="hyperlink--decorated"
          href="https://linktr.ee/YtCharmyngeBole"
        >
          visit my linktree</a
        >.
      </p>
    </div>
  </body>
</html>

<style>
  .hyperlink--decorated {
    @apply font-medium text-[#999] underline decoration-[#bbb2] decoration-1 underline-offset-2 transition-colors hover:text-[#666];
  }
</style>
