---
import { SITE } from "../config.ts";
import BaseLayout from "../layouts/BaseLayout.astro";
import Body from "../layouts/Body.astro";
import Footnote from "../layouts/Footnote.astro";

import MyCharacter from "../layouts/MyCharacterReference.astro";
import MyHistory from "../layouts/MyHistory.astro";
import MyInterests from "../layouts/MyInterests.astro";
import MyParticipation from "../layouts/MyParticipation.astro";
import MyShortBio from "../layouts/MyShortBio.astro";

import Banner from "../layouts/Banner.astro";

// TODO: Add adornment to the top and bottom page area
---

<BaseLayout title={`${SITE.title} – ${SITE.description}`}>
  <Body>
    <div
      class="mx-auto mt-16 flex items-start justify-center px-8 max-laptop:flex-col max-laptop:items-center max-phone:px-4 laptop:gap-12"
    >
      <Banner />
      <div
        class="flex max-w-prose flex-col items-start justify-center max-laptop:items-center"
      >
        <MyShortBio />
        {/* <MyInterests /> */}
        {/* <MyHistory /> */}
        {/* <MyParticipation /> */}
        {/* <MyCharacter /> */}
      </div>
    </div>
  </Body>
  <Footnote />
</BaseLayout>
