---
export interface Props {
  style?: "abbr" | "full" | "full-emphasized" | "handle";
}

const { style = "abbr" } = Astro.props as Props;
---

{
  /* prettier-ignore */
  style === "abbr" ? (
    <span class="colored-name font-bold">BOLE</span>
  ) : style === "full" ? (
    <span class="colored-name font-bold">That Charming BOLE</span>
  ) : style === "full-emphasized" ? (
    <span class="colored-name font-bold"><em>That</em> Charming BOLE</span>
  ) : (
    <span class="colored-name before:content-[open-quote] after:content-[close-quote] font-bold">
      <span class="px-px">YtCharmyngeBole</span>
    </span>
  )
}

<style>
  .colored-name {
    color: oklch(68.21% 0.103 360);
  }
</style>
