---
export interface Props {
  style?: "abbr" | "full" | "full-emphasized" | "handle";
}

const { style = "abbr" } = Astro.props as Props;
---

{
  /* prettier-ignore */
  style === "abbr" ? (
    <span class="text-beetroot-400">BOLE</span>
  ) : style === "full" ? (
    <span class="text-beetroot-400">That Charming BOLE</span>
  ) : style === "full-emphasized" ? (
    <span class="text-beetroot-400"><em>That</em> Charming BOLE</span>
  ) : (
    <span class="text-beetroot-400 before:content-[open-quote] after:content-[close-quote]">
      <span class="px-px">YtCharmyngeBole</span>
    </span>
  )
}
