---
export interface Props {
  style: "abbr" | "full" | "quoted";
}

const { style = "abbr" } = Astro.props as Props;
---

{
  style === "abbr" ? (
    <span class="font-black text-beetroot-500">BOLE</span>
  ) : style === "full" ? (
    <span class="italic font-bold text-beetroot-400">That Charming BOLE</span>
  ) : (
    <span class="text-fadecream-200 before:content-[open-quote] after:content-[close-quote]">
      <span class="px-px">YtCharmyngeBole</span>
    </span>
  )
}
