---
import { Icon } from "astro-icon/components";
import { SOCIALS } from "../../config.ts";
---

<section
  class="flex flex-col items-start
  max-laptop:flex-col-reverse max-laptop:items-center"
>
  <div
    class="flex flex-col items-start justify-center text-pretty text-base/6
    max-laptop:max-w-[55ch] max-laptop:items-center max-laptop:text-center"
  >
    <p class="mt-4">
      I was born in 1990s, but don’t be fooled by my age, though. I’m a
      free-spirited doggo who loves lying around and enjoy some belly rubs&nbsp;<Icon
        name="twemoji/dog-face"
        class="inline-block align-[-0.1em]"
        title="Dog face emoji"
      />.
    </p>
    <p class="mt-4">
      Despite being anatomically chubby most time of the year, I occasionally
      allow myself to transform into other forms (e.g. buff, lean, or anything
      in between) with the magical power of
      <em class="text-fadecream-400">commissioned artworks</em>&nbsp;<Icon
        name="twemoji/money-with-wings"
        class="inline-block align-[-0.1em]"
        title="Money with wings emoji"
      />.
    </p>
    <p class="mt-4">
      Feel free to reach out and say hi! I'm always excited to meet new friends
      (furry or otherwise). Please offer to cuddle me if you happen to meet me
      in person&nbsp;<Icon
        name="twemoji/woozy-face"
        class="inline-block align-[-0.1em]"
        title="Woozy face emoji"
      />.
    </p>
  </div>
  <ul
    class="mt-4 flex w-fit flex-wrap justify-start gap-x-3 gap-y-2.5
    max-laptop:mb-4 max-laptop:grid max-laptop:grid-cols-4 max-laptop:justify-center max-laptop:gap-2.5"
  >
    {
      SOCIALS.map((item) => (
        <li>
          <a
            href={item.href}
            title={`Me on ${item.name}`}
            rel="noopener"
            class="hyperlink hyperlink--social-link flex items-center gap-0.5 rounded-lg p-0.5 shadow-md
            laptop:pl-1 laptop:pr-2.5"
          >
            <Icon
              name={`social/${item.name.toLowerCase()}`}
              class="inline-block size-8"
            />
            <span class="grow max-laptop:hidden">{item.name}</span>
          </a>
        </li>
      ))
    }
  </ul>
</section>

<style>
  .hyperlink--social-link {
    --hyperlink-text--ground: theme("colors.orange.400");
    --hyperlink-text--excited: theme("colors.ambient-bg");
    --hyperlink-bg--ground: oklch(100% 0 0 / 5%);
    --hyperlink-bg--excited: theme("colors.lemon.300");
  }
</style>
