---
import HobbiesContent from "../../writeups/01_hobbies.mdx";
import FursonaContent from "../../writeups/02_fursona.mdx";
---

<section class="prose-auto">
  <HobbiesContent />
  <FursonaContent />
</section>
