---
import HobbiesContent from "../../content/writeups/hobbies.mdx";
import FursonaContent from "../../content/writeups/fursona.mdx";
---

<section class="prose-auto">
  <HobbiesContent />
  <FursonaContent />
</section>
