---
import { Image } from "astro:assets";
import { SOCIALS } from "#src/config.ts";
import imgProfilePic from "#src/images/profilepic.png";
import SocialButton from "./SocialButton.astro";
---

<header class="my-8 flex flex-col items-center gap-4">
  <Image
    src={imgProfilePic}
    alt="Drawing of Bole's head"
    title="Drawing of Bole's head"
    width="256"
    priority={true}
    class="w-[50%]"
  />
  <h1 class="flex flex-col items-center leading-relaxed gap-1">
    <span
      class="font-display text-2xl font-bold tracking-wide text-(--color-name) text-center"
    >That Charming BOLE</span
    >
    <span class="font-mono text-xl text-(--color-username) text-center">
      (@YtCharmyngeBole)
    </span>
  </h1>
  <p class="text-center text-base/snug">
    A chubby rodent doggo born in 1990s. <br class="laptop:hidden" />
    Welcome to my <em class="brighter-80">bolepen</em>!
  </p>
  <ul class="flex flex-wrap gap-3 px-8 py-2 w-fit justify-center">
    {SOCIALS.map((item) =>
      <SocialButton item={item} />)}
  </ul>
</header>

<style>
  header {
    --color-name: oklch(87.16% 0.043 54.36);
    --color-username: oklch(51.31% 0.026 104.5);
  }
</style>
