---
import { Icon } from "astro-icon/components";
import { SOCIALS } from "#src/config.ts";
---

<div
  class="flex flex-col items-center laptop:my-6 laptop:max-w-[32.5rem] laptop:items-start"
>
  <h1 class="text-2xl max-laptop:text-center">
    <span
      class="leading-1 font-display font-bold leading-tight tracking-wide text-[oklch(87.16%_0.043_54.36)]"
      >That Charming BOLE</span
    >
    <span
      class="align-[0.05rem] text-xl text-[oklch(51.31%_0.026_104.5)] max-laptop:hidden"
      >(@YtCharmyngeBole)</span
    >
  </h1>
  <p class="my-2 text-base/snug max-laptop:text-center laptop:mt-1">
    A chubby rodent doggo born in 1990s. <br class="laptop:hidden" />
    Welcome to my <em>bolepen</em>!
  </p>
  <ul
    class="mt-4 flex w-fit flex-wrap justify-start gap-3 max-laptop:mb-4 max-laptop:max-w-[12.25rem] max-laptop:justify-center laptop:gap-y-2.5"
  >
    {
      SOCIALS.map((item) => (
        <li>
          <a
            href={item.href}
            title={`Me on ${item.name}`}
            rel="me noopener"
            class="hyperlink hyperlink--social-link flex items-center justify-center rounded-lg text-center"
          >
            <Icon
              name={`social/${item.name.toLowerCase()}`}
              class="m-0.5 inline-block size-9 laptop:mx-1 laptop:my-0"
            />
            <span class="grow max-laptop:hidden laptop:mr-2.5">
              {item.name}
            </span>
          </a>
        </li>
      ))
    }
  </ul>
</div>

<style>
  .hyperlink--social-link {
    --hyperlink-text--ground: theme("colors.custom.ground");
    --hyperlink-text--excited: theme("colors.custom.bg");
    --hyperlink-bg--ground: oklch(100% 0 0 / 5%);
    --hyperlink-bg--excited: theme("colors.custom.excited");
  }
</style>
