---
import { Image } from "astro:assets";

import { SOCIAL_LINKS } from "#src/config.ts";
import imgProfilePic from "#src/images/profilepic.png";
import Link from "#layouts/Link.astro";
---

<header class="flex flex-col items-center gap-4 pt-16 pb-4 desktop:pt-24 desktop:pb-8 motion-safe:transition-all">
  <Image
    src={imgProfilePic}
    alt="Drawing of Bole's head"
    title="Drawing of Bole's head"
    width="288"
    priority={true}
    class="tablet:w-[288px] w-[192px] motion-safe:transition-all"
  />
  <h1 class="flex flex-col items-center gap-1 leading-relaxed">
    <span
      class="font-display text-center text-2xl font-bold tracking-wide text-(--color-name)"
      >That Charming BOLE</span
    >
    <span class="text-center font-mono text-xl text-(--color-username)">
      (@YtCharmyngeBole)
    </span>
  </h1>
  <p class="text-center text-base/snug text-balance">
    Find me using the links below, and feel free to say hi!
  </p>
  <ul class="flex w-fit max-w-144 flex-wrap justify-center gap-3 px-8 py-2">
    {SOCIAL_LINKS.map((item) => <Link item={item} />)}
  </ul>
</header>

<style>
  header {
    --color-name: oklch(87.16% 0.043 54.36);
    --color-username: oklch(51.31% 0.026 104.5);
  }
</style>
