---
import ReturnHome from "#layouts/ReturnHome.astro";
import BaseLayout from "#layouts/BaseLayout.astro";
import Footer from "#layouts/Footer.astro";
import InnerBodyWrapper from "#layouts/InnerBodyWrapper.astro";

interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props as Props;
---

<BaseLayout title={title} description={description}>
  <InnerBodyWrapper>
    <ReturnHome />
    <main class="markdown custom-container-width">
      {title && <h1>{title}</h1>}
      <slot />
    </main>
    <Footer />
  </InnerBodyWrapper>
</BaseLayout>
