---
import Bole from "./Bole.astro";
import Section from "./Section.astro";

const linkToIPATable =
  "https://en.wiktionary.org/wiki/Appendix:Middle_English_pronunciation";
---

<Section title="My Fursona">
  <p>
    His name is <Bole />. Despite being a dog, this auspicious name derives from
    the Middle English word for a young heraldic bull and shares the
    pronunciation of <em>bull</em>.
  </p>
  <p class="dimmed mx-6 text-sm/6">
    For those linguistically inclined, here are some possible IPA transcriptions
    of the word:
    <span class="ipa">/ˈbul(ə)/</span>,
    <span class="ipa">/ˈbuːl(ə)/</span>,
    <span class="ipa">/ˈbɔːl(ə)/</span>&emsp;(see
    <a href={linkToIPATable}>pronunciation guide</a>)
  </p>
  <p>
    His names holds a little-known story. <Bole /> was born prematurely, his body
    frail and vulnerable to the slightest breeze. The doctor feared that he might
    not survive. Concerned for his well-being, his mother chose a name inspired by
    a bull to bestow strength and courage upon him. And that was how his name came
    to be.
  </p>

  <h3>Physical Traits</h3>
  <p>
    <Bole /> is a dog but with one striking feature: a pair of protruding, sharp
    incisors commonly mistaken for a rabbit. His belly, albeit being soft, has the
    solid roundness matching a noble hound. His soft pelage consists of
    <em>four</em> primary colors:
    <span class="text-beetroot-500">Beetroot</span>,
    <span class="text-orange-300">Orange</span>,
    <span class="text-lemon-400">Lemon</span>, and
    <span class="text-eggplant-600">Eggplant</span>.
  </p>
  <p><em>More information in the Character Sheet section (coming soon).</em></p>

  <h3>Personal Preferences</h3>
  These are my personal preferences pertaining to my fursona:
  <ul>
    <li>
      <span class="bright font-bold">Favorite food:</span>&ensp;Chicken thighs
      and drumsticks; Beef; People inside BEEF.
    </li>
    <li>
      <span class="bright font-bold">Favorite colors:</span
      >&ensp;Green&ensp;<span class="dimmed">(surprised?)</span>
    </li>
    <li>
      <span class="bright font-bold">Hobbies:</span>&ensp;Working out (or
      pondering thereof)
    </li>
    <li>
      <span class="bright font-bold">Likes:</span>&ensp;3 M’s: Music, Munchies,
      and Mad calves
    </li>
    <li>
      <span class="bright font-bold">Dislikes:</span>&ensp;Sense of impending
      doom
    </li>
  </ul>
  <p>
    <em>More information are more to come soon.</em>
  </p>
</Section>

<style>
  .ipa {
    @apply inline-block font-bold text-grayext-350;
  }
</style>
