---
import Bole from "./Bole.astro";
import Section from "./Section.astro";
---

<Section title="Interests and Hobbies">
  <p>
    First, let’s get this out of the way: I am a furry
    <span class="muted">(yeah, I hope it’s obvious by now)</span>. Furry is my
    hobby&thinsp;&mdash;&thinsp;<em>or rather</em>&thinsp;&mdash;&thinsp;my
    lifestyle. I have created a few original characters (OCs), but <Bole />
    is always gonna be my main fursona.
  </p>
  <p>Speaking of being furry as a hobby,</p>
  <ul>
    <li>
      <span class="accented font-bold">Roleplay?</span>
      I’ve never tried roleplaying; it sounds horribly energy-consuming. Anyways,
      I’m always open to that if sufficiently motivated.
    </li>
    <li>
      <span class="accented font-bold">Art?</span>
      I’m no artist. I can’t draw, paint, sculpt&thinsp;&mdash;&thinsp;I’m hopeless.
      But I adore art and admiring their creators.
      <em class="muted">*ahem*</em> That’s why art commissioning exists.
    </li>
    <li>
      <span class="accented font-bold">Fursuiting?</span>
      I’m not ready; it looks likes huge investments&thinsp;&mdash;&thinsp;not only
      the cost of the fursuit itself, but also the maintenance and logistics. I have
      huge respect for those who pursue this endeavor. And do I need to mention that
      it’s scorching hot inside a fursuit?
    </li>
    <li>
      <span class="accented font-bold">Conventions?</span>
      Yes! Although I’ve identified as a furry for a long time, I attended my first
      furry convention only recently. Furry conventions and events I went so far:
      ThaiTails&nbsp;2023, FurGet&nbsp;2023, Infurnity&nbsp;2023, and ThaiTails&nbsp;2024.
      <span class="muted">
        I’m looking forward to attending more conventions in the future. So
        please say hi if you see me there!
      </span>
      <!-- TODO: Instead of listing all events here, link to separate sections
                 in MyParticipation section -->
    </li>
    <li>
      <span class="accented font-bold">Doujins? Merchandises?</span>
      I have a modest collection of approximately a hundred doujinshi
      <em class="muted">so far</em>, most of them furry-themed. Merchandise
      isn't really my thing, especially acrylic items. On a different note, I’ve
      helped my <a href="https://www.facebook.com/Kalon.Ezhno">artist friend</a>
      sell their furry stuff at events like FurSquare&nbsp;2023 and Infurnity&nbsp;2023.
    </li>
  </ul>
  <h3>What else?</h3>
  <ul>
    <li>
      I love listening to music and I go to great lengths to attend concerts by
      my favorite musical artists. On one occasion, I even traveled to Japan
      once solely for the concerts. In total, I’ve made <em>four</em> trips to Japan
      where concerts were my main purpose of visit.
    </li>
    <li>
      Speaking of my musical palette, I’m obsessed with J-Pop, anisongs, and
      anime soundtracks. I can even sometimes identify the music composer of a
      new anime just by listening!
    </li>
    <li>
      Karaoke is my preferred method of practicing Japanese
      kana&thinsp;&mdash;&thinsp;and if you can withstand my horrible singing, I
      know a great Japanese karaoke spot
      <span class="muted">(definitely <em>not</em> Man****eko)</span>.
    </li>
    <li>
      I’m a big nerd,
      <span class="muted"><em>literally</em> and <em>figuratively</em></span>:
      science, technology, linguistics, typography, photography, anime, games,
      quizzes, riddles, brain teasers, cryptic clues&thinsp;&mdash;&thinsp;you
      name it.
    </li>
    <li>
      Back in 2000s and 2010s, I used to binge a ton of anime. Nowadays, I get
      my weeb fix from just a couple of good shows each season.
    </li>
    <li>
      TV game shows are my addiction of choice. I’m a huge fan of UK quiz shows
      like
      <a href="http://www.ukgameshows.com/ukgs/Only_Connect_(2)">Only Connect</a
      > and <a href="http://www.ukgameshows.com/ukgs/The_Chase">The Chase</a>!
      <span class="muted">You should check them out on YouTube.</span>
    </li>
    <li>
      I like to travel abroad and tread on off-beaten paths.
      <a
        href="https://www.atlasobscura.com/articles/all-places-in-the-atlas-on-one-map"
        >Atlas Obscura</a
      >
      is my preferred Travel Guide. I’ve been spending at least one night at the
      following places <span class="muted">(in alphabetical order)</span>:
      Australia, Bulgaria, China, Egypt, Hong Kong, Iceland, Japan, Laos,
      Malaysia, Singapore, Taiwan, United Kingdom, and United States. I hope to
      continue exploring as my budget allows.
    </li>
    <li>
      I’m a dog person <span class="muted">(surprise, surprise)</span>. I dream
      of having a fluffy poodle as my sidekick someday&thinsp;&mdash;&thinsp;no,
      not a toy one.
    </li>
  </ul>
</Section>
