---
import { Icon } from "astro-icon/components";
import Section from "./Section.astro";
import InnerPara from "./InnerPara.astro";
---

<Section title="Preferences and Interests">
  <p>
    First, let’s get this out of the way: I am a furry.
    <span class="text-muted-30">(Yeah, I hope it’s obvious by now.)</span>
    <strong class="font-black text-beetroot-400">BOLE</strong> is my main fursona,
    and I have a few other secret original characters.

    <InnerPara>Roleplay:</InnerPara>
    I’m not really interested in roleplaying, but I’m always open to that if sufficiently
    motivated.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tristique
    sed felis nec gravida. Nullam a sodales nisl. Nunc fermentum dui massa, non
    fermentum est viverra maximus. Vestibulum vel dictum neque. Fusce luctus
    tellus lorem, nec bibendum turpis gravida eget. Sed dapibus diam justo, ut
    pretium sem scelerisque vel. Quisque condimentum porta purus, vitae maximus
    velit faucibus vel. Sed dapibus sem id risus lacinia, vel placerat tortor
    malesuada. Proin efficitur pharetra nunc varius pulvinar. Vestibulum vitae
    eleifend ipsum.
  </p>
  <p>
    Curabitur dapibus urna et lectus rutrum consequat. Suspendisse commodo odio
    sed convallis ullamcorper. In scelerisque lorem ac mauris ultricies, a
    dapibus libero imperdiet. Etiam auctor ipsum quis tellus tincidunt, eu
    facilisis tortor molestie. Curabitur pellentesque nisl sit amet ligula
    volutpat, ut rutrum sem dictum. Nunc vel dapibus enim, sodales sodales leo.
    Fusce ante turpis, aliquam semper sollicitudin sagittis, fringilla sit amet
    lectus. Aenean efficitur ligula nec sapien posuere vehicula.
  </p>
  <p>
    Nunc vitae libero sit amet dolor venenatis scelerisque. Nulla facilisi. Ut
    tortor lectus, hendrerit eu vehicula id, imperdiet in dolor. Aliquam
    facilisis dolor eu felis aliquet, sit amet tristique risus vestibulum. Sed
    sit amet quam sit amet orci feugiat ultrices ut vitae est. Nullam nec quam
    ligula. Praesent eleifend congue dolor, at gravida nulla congue eu. Ut
    porttitor nibh vel hendrerit convallis.
  </p>
  <p>
    Praesent ex sem, fermentum id luctus a, egestas nec leo. Fusce in justo ut
    felis rutrum pellentesque at at turpis. Curabitur ac nunc tellus. In tempor
    egestas leo, sed consectetur orci. Mauris in ex ante. Donec eleifend, nisi
    at congue placerat, nunc sapien facilisis dui, quis dignissim est neque eget
    ante. Nam maximus faucibus faucibus. In sollicitudin lacus vel convallis
    vulputate. Donec cursus sollicitudin diam, non elementum neque fringilla et.
    Nunc quis lectus ut arcu maximus auctor. Sed tristique auctor tellus.
    Aliquam at fermentum dolor, quis tincidunt augue. Aliquam sodales, nulla a
    interdum pulvinar, lorem risus pellentesque ipsum, a consectetur lacus dolor
    in nulla.
  </p>
</Section>
