---
import { SOCIALS } from "../config.ts";
import { Icon } from "astro-icon/components";
---

<section
  class="flex flex-col items-start max-laptop:flex-col-reverse max-laptop:items-center"
>
  <div
    class="flex flex-col items-start justify-center text-pretty text-base/snug text-gray-400 max-laptop:max-w-[45ch] max-laptop:items-center max-laptop:text-center"
  >
    <p>
      I'm a middle-aged dog, born back in <span aria-label="1990s">199x</span>,
      but my heart is still young as that of a cheerful puppy.
      <!-- TODO: Add dog-face emoji -->
    </p>
    <p class="mt-4">
      Despite being anatomically chubby most time of the year, I allow myself to
      magically transform into different versions of myself (e.g. buff, lean, or
      anything in between) with the power of
      <em class="text-fadecream-400">commissioned artworks</em>.
      <!-- TODO: Add money emoji -->
    </p>
    <p class="mt-4">
      Feel free to reach out and say hi! I'm always excited to meet new friends
      (furry or not). Please offer to cuddle me if you happen to meet me in
      person.
      <!-- TODO: Add hug emoji -->
    </p>
  </div>
  <ul
    class="mt-4 flex w-fit flex-wrap justify-start gap-3 max-laptop:mb-4 max-laptop:justify-center max-laptop:gap-2"
  >
    {
      SOCIALS.map((item) => (
        <li>
          <a
            href={item.href}
            title={`Me on ${item.name}`}
            rel="noopener"
            class="hyperlink hyperlink--social-link flex items-center gap-0.5 rounded-lg p-0.5 shadow-md laptop:pl-1 laptop:pr-2"
          >
            <Icon
              name={`social/${item.name.toLowerCase()}`}
              class="inline-block size-8 align-[-0.5rem]"
            />
            <span class="grow max-laptop:hidden">{item.name}</span>
          </a>
        </li>
      ))
    }
  </ul>
</section>

<style>
  .hyperlink--social-link {
    --hyperlink-text--ground: theme("colors.orange.400");
    --hyperlink-text--excited: theme("colors.ambient-bg");
    --hyperlink-bg--ground: oklch(100% 0 0 / 5%);
    --hyperlink-bg--excited: theme("colors.lemon.300");
  }
</style>
