<div
  class="flex flex-col items-start justify-center text-pretty text-base/snug text-gray-400 max-laptop:max-w-[45ch] max-laptop:items-center max-laptop:text-center"
>
  <p>
    I'm a middle-aged dog, born back in <span aria-label="1990s">199x</span>,
    but I still love to play like a puppy.
  </p>
  <p class="mt-4">
    Despite being anatomically chubby most time of the year, I allow myself to
    magically transform into different versions of myself (e.g. buff, lean, or
    anything in between) with the power of
    <em class="text-fadecream-200">commissioned artworks</em>.
  </p>
  <p class="mt-4">
    Feel free to reach out and say hi! I'm always excited to meet new friends
    (furry or not). Please cuddle me if you happen to see me in person.
  </p>
</div>
