---
import { Icon } from "astro-icon/components";
---

<div class="my-2 text-sm/tight text-gray-100 max-laptop:text-center">
  <p>
    <!-- TODO: find suitable emoji -->
    That's me, and welcome to my <a href="/what-is-bolepen">bolepen</a>!
  </p>
  <p>
    <Icon
      name="twemoji/dog-face"
      title="Dog face emoji"
      class="mx-[0.15em] inline-block align-[-0.15em] text-[0.875em]"
    />
    <span aria-label="A rodent pup born in 1990s"
      >I am a rodent pup born in 199×</span
    >
  </p>
  <p>
    <!-- TODO: find better text
               e.g. feel free to reach out and say hi!
                    would like to become friends with you!
                    or other text based on previous social media debut posts
     -->
    <Icon
      name="twemoji/flag-thailand"
      title="Flag of Thailand emoji"
      class="mx-[0.15em] inline-block align-[-0.15em] text-[0.875em]"
    />
    Born and based in Thailand
  </p>
  <!--
  <p>
    <Icon
      name="twemoji/rainbow-flag"
      title="Rainbow flag emoji"
      class="mx-[0.15em] inline-block align-[-0.15em] text-[0.875em]"
    />
    Prefers to say gex
  </p>
  -->
</div>
