---
import { Icon } from "astro-icon/components";

import { SOCIALS } from "#config";
import Bole from "#components/Bole.astro";
import Muted from "#components/Muted.astro";
---

<section
  class="flex flex-col items-start justify-center text-pretty text-base/6 max-laptop:max-w-[28rem] max-laptop:items-center max-laptop:text-center"
>
  <p class="mt-4">
    Hi, my name is <Bole />, a free-spirited doggo who loves lying around and
    enjoy some belly rubs&nbsp;<Icon
      name="twemoji/dog-face"
      class="inline-block align-[-0.1em]"
      title="Dog face emoji"
    />.
  </p>
  <p class="mt-4">
    Feel free to reach out and say hi! I'm always excited to meet new friends
    <Muted>(furry or otherwise)</Muted>. And please offer to cuddle me if you
    happen to meet me in person&nbsp;<Icon
      name="twemoji/woozy-face"
      class="inline-block align-[-0.1em]"
      title="Woozy face emoji"
    />.
  </p>
</section>
