---
import { Icon } from "astro-icon/components";
---

<div class="mb-4 mt-2 text-sm/tight text-gray-100 max-laptop:text-center">
  <p>
    <Icon
      name="twemoji/dog-face"
      title="Dog face emoji"
      class="mx-[0.15em] inline-block align-[-0.15em] text-[0.875em]"
    />
    <span aria-label="A rodent pup born in 1990s"
      >A rodent pup born in 199×</span
    >
  </p>
  <p>
    <Icon
      name="twemoji/flag-thailand"
      title="Flag of Thailand emoji"
      class="mx-[0.15em] inline-block align-[-0.15em] text-[0.875em]"
    />
    Born and based in Thailand
  </p>
  <p>
    <Icon
      name="twemoji/rainbow-flag"
      title="Rainbow flag emoji"
      class="mx-[0.15em] inline-block align-[-0.15em] text-[0.875em]"
    />
    Typical gay furry
  </p>
</div>
