---
import { Icon } from "astro-icon/components";

import { SOCIALS } from "../config.ts";

// TODO: Resize the current text-sm into text-base
// a
---

<div
  class="flex flex-col items-start justify-center text-pretty text-xs font-medium leading-tight text-gray-400 max-laptop:items-center max-laptop:text-center"
>
  <p class="mb-2 max-laptop:mb-3">
    Despite my belief that I am not terminally online, <br />
    I am considerably omni-present on the web:
  </p>
  <ul
    class="grid w-fit grid-cols-8 gap-1.5 max-laptop:grid-cols-4 max-phone:gap-2"
  >
    {
      SOCIALS.map((item) => (
        <li>
          <a
            href={item.href}
            title={`Me on ${item.name}`}
            rel="noopener"
            class="group rounded-lg"
          >
            <Icon
              name={`social/${item.name}`}
              class="hyperlink hyperlink--social-link size-7 rounded-lg shadow-md"
            />
          </a>
        </li>
      ))
    }
  </ul>
  <p class="mt-2 max-laptop:mt-3">
    Links also available on
    <a
      class="hyperlink hyperlink--underline hyperlink--basic font-bold"
      href="https://linktr.ee/YtCharmyngeBole">my linktree</a
    >
    <br />
  </p>
</div>

<style>
  .hyperlink--social-link {
    --hyperlink-text--ground: theme("colors.orange.200");
    --hyperlink-text--excited: theme("colors.ambient-bg");
    --hyperlink-bg--ground: color-mix(in oklch, transparent, white 5%);
    --hyperlink-bg--excited: theme("colors.lemon.100");
  }
</style>
