---
import { Icon } from "astro-icon/components";

import { SOCIALS } from "../config.ts";
---

<ul class="grid grid-cols-4 gap-3 max-phone:gap-2">
  {
    SOCIALS.map((item) => (
      <li>
        <a
          href={item.href}
          title={`Me on ${item.name}`}
          rel="noopener"
          class="group rounded-lg"
        >
          <Icon
            name={`social/${item.name}`}
            class="hyperlink hyperlink--social-link size-9 rounded-lg shadow-md"
          />
        </a>
      </li>
    ))
  }
</ul>

<style>
  .hyperlink--social-link {
    --hyperlink-text--ground: theme("colors.orange.200");
    --hyperlink-text--excited: theme("colors.ambient-bg");
    --hyperlink-bg--ground: color-mix(in oklch, transparent, white 5%);
    --hyperlink-bg--excited: theme("colors.lemon.100");
  }
</style>
