---
import { Icon } from "astro-icon/components";

import { SOCIALS } from "../config.ts";

// TODO: Resize the current text-sm into text-base
// a
---

<div
  class="flex flex-col items-center justify-center text-pretty text-center text-sm font-medium leading-tight text-gray-400"
>
  <p class="mb-2 max-w-[55ch] max-laptop:mb-3">
    Despite my own belief that I am not terminally online, I'm terribly
    omni-present on the web:
  </p>
  <ul class="flex w-fit gap-2.5 max-phone:gap-2">
    {
      SOCIALS.map((item) => (
        <li>
          <a
            href={item.href}
            title={`Me on ${item.name}`}
            rel="noopener"
            class="group rounded-lg"
          >
            <Icon
              name={`social/${item.name}`}
              class="hyperlink hyperlink--social-link size-8 rounded-lg shadow-md"
            />
          </a>
        </li>
      ))
    }
  </ul>
</div>

<style>
  .hyperlink--social-link {
    --hyperlink-text--ground: theme("colors.orange.200");
    --hyperlink-text--excited: theme("colors.ambient-bg");
    --hyperlink-bg--ground: color-mix(in oklch, transparent, white 5%);
    --hyperlink-bg--excited: theme("colors.lemon.100");
  }
</style>
